WebApplication1/Service References/ServiceTeamProfit/service3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/TeamProfit" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TeamProfit" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfGroupCheckResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GroupCheckResult" nillable="true" type="tns:GroupCheckResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGroupCheckResult" nillable="true" type="tns:ArrayOfGroupCheckResult" />
  <xs:complexType name="GroupCheckResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="CurrentNumberPeopleGroup" type="xs:int" />
      <xs:element minOccurs="0" name="DateCreationInDB" type="xs:dateTime" />
      <xs:element minOccurs="0" name="GroupNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsValid" type="xs:boolean" />
      <xs:element minOccurs="0" name="NumberPeopleGroup" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GroupCheckResult" nillable="true" type="tns:GroupCheckResult" />
  <xs:complexType name="ArrayOfCoordinationAuthority">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CoordinationAuthority" nillable="true" type="tns:CoordinationAuthority" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCoordinationAuthority" nillable="true" type="tns:ArrayOfCoordinationAuthority" />
  <xs:complexType name="CoordinationAuthority">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FullNameEn" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FullNameRu" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CoordinationAuthority" nillable="true" type="tns:CoordinationAuthority" />
  <xs:complexType name="ArrayOfCheckPoint">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CheckPoint" nillable="true" type="tns:CheckPoint" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCheckPoint" nillable="true" type="tns:ArrayOfCheckPoint" />
  <xs:complexType name="CheckPoint">
    <xs:sequence>
      <xs:element minOccurs="0" name="FullNameEn" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FullNameRu" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CheckPoint" nillable="true" type="tns:CheckPoint" />
  <xs:complexType name="ArrayOfTravelAgency">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TravelAgency" nillable="true" type="tns:TravelAgency" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTravelAgency" nillable="true" type="tns:ArrayOfTravelAgency" />
  <xs:complexType name="TravelAgency">
    <xs:sequence>
      <xs:element minOccurs="0" name="CompanyNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Direction" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FullNameCn" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FullNameEn" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FullNameRu" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReferenceNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TravelAgency" nillable="true" type="tns:TravelAgency" />
  <xs:complexType name="ArrayOfGroup">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Group" nillable="true" type="tns:Group" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGroup" nillable="true" type="tns:ArrayOfGroup" />
  <xs:complexType name="Group">
    <xs:sequence>
      <xs:element minOccurs="0" name="CoordinationAuthority" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DateArrival" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DateCreated" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DateDeparture" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DeparturePoint" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Direction" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EntryPoint" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GroupNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InsuranceUpdated" type="xs:dateTime" />
      <xs:element minOccurs="0" name="NameGroupLeader" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumberDepartureFlight" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumberEntryFlight" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumberPeopleGroup" type="xs:int" />
      <xs:element minOccurs="0" name="Persons" nillable="true" type="tns:ArrayOfPerson" />
      <xs:element minOccurs="0" name="PolicyPeriodFrom" type="xs:dateTime" />
      <xs:element minOccurs="0" name="PolicyPeriodTill" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ReceivingOperator" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SendingOperator" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TransportType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="md5" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Group" nillable="true" type="tns:Group" />
  <xs:complexType name="ArrayOfPerson">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Person" nillable="true" type="tns:Person" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPerson" nillable="true" type="tns:ArrayOfPerson" />
  <xs:complexType name="Person">
    <xs:sequence>
      <xs:element minOccurs="0" name="AmountAtRisk" type="xs:decimal" />
      <xs:element minOccurs="0" name="BirthPlace" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DateOfBirth" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ExpirationDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FIO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FIOLat" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InsuranceCompanyCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InsuredAccident" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InsuredCloseDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="InsuredPayment" type="xs:decimal" />
      <xs:element minOccurs="0" name="Passport" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PersonOrder" type="xs:int" />
      <xs:element minOccurs="0" name="PolicyNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PremCurrency" type="xs:decimal" />
      <xs:element minOccurs="0" name="SexCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" type="xs:int" />
      <xs:element minOccurs="0" name="md5" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Person" nillable="true" type="tns:Person" />
  <xs:complexType name="ArrayOfTranTask">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TranTask" nillable="true" type="tns:TranTask" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTranTask" nillable="true" type="tns:ArrayOfTranTask" />
  <xs:complexType name="TranTask">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreationDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="GroupID" type="xs:int" />
      <xs:element minOccurs="0" name="GroupNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StartDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="TaskOpt" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TranTask" nillable="true" type="tns:TranTask" />
  <xs:complexType name="ArrayOfInsuranceIncident">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="InsuranceIncident" nillable="true" type="tns:InsuranceIncident" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfInsuranceIncident" nillable="true" type="tns:ArrayOfInsuranceIncident" />
  <xs:complexType name="InsuranceIncident">
    <xs:sequence>
      <xs:element minOccurs="0" name="ChangesDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ChangesType" nillable="true" type="xs:string" />
      <xs:element name="DateIncident" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DateOfExchangeRate" type="xs:dateTime" />
      <xs:element name="DateSettlment" type="xs:dateTime" />
      <xs:element name="DateVisit" type="xs:dateTime" />
      <xs:element name="Description" nillable="true" type="xs:string" />
      <xs:element name="DiseaseType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExchangeRate_RMB_EUR" type="xs:double" />
      <xs:element minOccurs="0" name="ExchangeRate_RMB_USD" type="xs:double" />
      <xs:element name="FileNo" nillable="true" type="xs:string" />
      <xs:element name="InsuranceFee" type="xs:double" />
      <xs:element minOccurs="0" name="InsuranceFeeCNY" type="xs:double" />
      <xs:element minOccurs="0" name="InsuranceFeeUSD" type="xs:double" />
      <xs:element name="Md5Hash" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MemberGroupID" nillable="true" type="xs:string" />
      <xs:element name="Place" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InsuranceIncident" nillable="true" type="tns:InsuranceIncident" />
</xs:schema>